@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.App {
    font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.App2 {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App3 {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main_body_div{padding-left:25px;padding-right: 25px;padding-top: 25px;}

.body_div1_container{display: grid;grid-template-columns:25% 50% 25%;column-gap: 20px;margin-bottom: 20px;}

.body_div1{}
.body_div1_1{position: relative;cursor: pointer;}
.body_div1_1_img{width: 299.75px;height: 197.281px;border-radius: 8px;}
.body_div1_1_p{font-family: Roboto;color:rgb(0, 30, 96);position: absolute;
top:0px;left: 20px; font-size: 21px;font-weight: 700;
width: 150px;
}
.body_div1_1_p2{font-family: Roboto;color:rgb(0, 30, 96);position: absolute;
top:22px;left: 20px; font-size: 21px;font-weight: 700;
width: 200px;
}
.body_div1_1_p3{font-family: Roboto;color:rgb(0, 30, 96);position: absolute;
top:70px;left: 20px; font-size: 13px;text-decoration: underline;
width: 200px;
}
.body_div1_1_p3:hover{text-decoration:none;}

.body_div1_2{position: relative;margin-top: 20px;margin-bottom: 20px;cursor: pointer;}
.body_div1_2_img{height:453.016px;width:299.75;border-radius: 8px;}
.body_div1_2_p1{color:rgb(0, 30, 96);font-family: Roboto;font-size: 16px;font-weight: 700;position: absolute;
bottom:45px;left:20px
}
.body_div1_2_p3{font-family: Roboto;color:rgb(1, 30, 96);font-size: 20px;font-weight: 700;position: absolute;
top:0px;left: 20px;
}
.body_div1_2_p4{font-family: Roboto;color:rgb(1, 30, 96);font-size: 20px;font-weight: 700;position: absolute;
top:25px;left: 20px;
}

.body_div1_2_p2{color:rgb(0, 30, 96);font-family: Roboto;font-size: 22px;font-weight: 700;position: absolute;
bottom:13px;left:20px
}
.body_div1_2_span{color:rgb(0, 30, 96);font-family: Roboto;font-size: 52px;font-weight: 700;position: absolute;}

.body_div1_3{position: relative;cursor: pointer;}
.body_div1_3_img{height:165.984px;width:299.75px;border-radius: 8px;}
.body_div1_3_p{font-family: Roboto;color:rgb(0, 30, 96);position: absolute;
top:0px;left: 20px; font-size: 21px;font-weight: 700;
width: 150px;
}
.body_div1_3_p2{font-family: Roboto;color:rgb(0, 30, 96);position: absolute;
top:25px;left: 20px; font-size: 21px;font-weight: 700;
width: 200px;
}
.body_div1_3_p3{font-family: Roboto;color:rgb(0, 30, 96);position: absolute;
top:70px;left: 20px; font-size: 13px;text-decoration: underline;
width: 200px;
}
.body_div1_3_p3:hover{text-decoration:none;}

.body_div2_1{position: relative;cursor: pointer;}
.body_div2_1_img{height:351.469px;width: 629.5px;border-radius: 8px;}

.body_div2_1_p1{font-family: Roboto;color: white;font-size: 19px;
font-weight: 700;position: absolute;top:0px;left: 20px; 
}
.body_div2_1_p2{font-family: Roboto;color: white;font-size: 47px;
font-weight: 700;
position: absolute;top:0px;left:20px;
}
.body_div2_1_p3{font-family: Roboto;color: white;font-size: 47px;
font-weight: 700;
position: absolute;top:50px;left:20px;width: 200px;
}
.body_div2_1_p4{font-family: Roboto;color: rgb(46, 47, 50);font-size: 13px;
font-weight: 700;
position: absolute;bottom:75px;left:20px;background-color: white;padding: 10px;
border-radius: 50px;width:70px;padding-left: 20px;
}

.div_relative{position: relative;}
.body_div2_2{display: grid;grid-template-columns: 50% 50%;margin-top: 20px;margin-bottom: 20px;}
.body_div2_2_img{height:302.922px;width:299.75px;border-radius: 8px;}
.body_div2_2_p{font-size: 21px;font-weight: 700;font-family: Roboto;
color:rgb(0, 30, 96);position: absolute;top: 0px;left:20px
}

.body_div2_2_p2{font-family: Roboto;color:rgb(0, 30, 96);position: absolute;
top:70px;left: 20px; font-size: 13px;text-decoration: underline;
width: 200px;
}
.body_div2_2_p2:hover{text-decoration:none;}
.div_relative3{display: grid;grid-template-columns: 80% 20%;width: 633.5px;height: 172.844px;
margin-top: 20px;cursor: pointer;}
.div_relative3_img{height:172.844px;width:115.156px;border-top-right-radius: 8px;
border-bottom-right-radius: 8px;}
.div_relative3_1{background-color: rgb(255, 194, 32);border-top-left-radius: 8px;
border-bottom-left-radius: 8px ;}
.div_relative3_p{color:rgb(4, 30, 66);font-family: Roboto;
font-size: 24px;width:400px;margin-left: 20px;
}
.div_relative3_p2{font-family: Roboto;color: white;
background-color: rgb(0, 83, 226);
display: block;width: 135px;font-size: 13px;
margin-left: 20px;
padding:10px;border-radius: 50px;
font-weight: 700;
margin-top: -10px;
}
.div_relative3_a{text-decoration: none;}


.body_div3_1{position: relative;margin-bottom: 20px;cursor: pointer;}
.body_div3_2{position: relative;margin-bottom: 20px;cursor: pointer;}
.body_div3_3{position: relative;margin-bottom: 20px;cursor: pointer;}
.body_div3_img{width:299.75px;height:197.281px;border-radius: 8px;}

.body_div3_p{color:rgb(1, 30, 96);font-size:21px;font-weight: 700;
position: absolute;top:0px;left:20px
}
.body_div3_p2{color:rgb(1, 30, 96);font-size:21px;font-weight: 700;
position: absolute;top:25px;left:20px}
.body_div3_p3{color:rgb(1, 30, 96);font-size:21px;font-weight: 700;
position: absolute;top:50px;left:20px
}

.body_div3_p4{font-family: Roboto;color:rgb(0, 30, 96);position: absolute;
bottom:30px;left: 20px; font-size: 13px;text-decoration: underline;
width: 200px;
}
.body_div3_p4:hover{text-decoration:none;}

.body_div3_p44{font-family: Roboto;color:rgb(0, 30, 96);position: absolute;
bottom:80px;left: 20px; font-size: 13px;text-decoration: underline;
width: 200px;
}
.body_div3_p44:hover{text-decoration:none;}

.body_div3_3_img{height:453.016px;width:299.75px;border-radius: 8px;}

.body_div3_3_p44{font-family: Roboto;color:rgb(0, 30, 96);position: absolute;
top:80px;left: 20px; font-size: 13px;text-decoration: underline;
width: 200px;
}
.body_div3_3_p44:hover{text-decoration:none;}




.body_row2_container{display: grid;grid-template-columns: 50% 50%;margin-bottom: 30px;margin-top: -20px;}

.body_row2_1{position: relative;}
.body_row2_1_img{width:629.5px;height:351.469px;border-radius: 8px;}
.body_row2_1_p1{color:rgb(0, 30, 96);font-family: Roboto;font-size: 20px;font-weight:700;
position: absolute;top:0px;left:20px;
}
.body_row2_1_p2{color:rgb(0, 30, 96);font-family: Roboto;font-size: 48px;font-weight:700;
position: absolute;top:0px;left:20px;
}
.body_row2_1_p3{color:rgb(0, 30, 96);font-family: Roboto;font-size: 48px;font-weight:700;
position: absolute;top:50px;left:20px;
}
.body_row2_1_p4{font-family: Roboto;color: rgb(46, 47, 50);font-size: 13px;
font-weight: 700;
position: absolute;bottom:220px;left:20px;cursor: pointer;
background-color: white;padding: 6px;border-radius: 50px;
border:solid  rgb(46, 47, 50) 1px;width:70px;padding-left:18px;
}

.body_row2_1_p4:hover{border:solid  black 2px}

.body_row2_2_column_p{display: grid;grid-template-columns: 90% 10%;}
.body_row2_2_P1{font-family: Roboto;font-size: 24px;font-weight: 700;color: black;margin-top: 0px;}
.body_row2_2_P11  {font-family: Roboto;font-size: 13px;font-weight: 400;color: black;margin-top: 0px;}
.body_row2_2_P2{font-family: Roboto;font-size: 13px;font-weight: 400;color:rgb(116, 118, 124);margin-top: -15px;}

.slider_p1{color: rgb(42, 135, 3); font-size: 18px;font-family: Roboto;font-weight: 700;}
.slider_p11{color:black; font-size: 18px;font-family: Roboto;font-weight: 700;}
.slider_p111{color:black; font-size: 18px;font-family: Roboto;font-weight: 700;}
.slider_p2{color:rgb(70, 71, 74); font-size: 15px;font-family: Roboto;width:200px;margin-top: -10px;}
.slider_p22{color:black; font-size: 12px;font-family: Roboto;width:200px;margin-top: -10px;margin-bottom: 15px;}
.slider_span{margin-left: 5px;color: rgb(116, 118, 124); font-size: 14px;font-family: Roboto;}
.slider_span1{margin-left: 5px;color: rgb(116, 118, 124); font-size: 12px;font-family: Roboto;}
.slider_margin_div{margin-left: 30px;}
.slider_button{color:rgb(46, 47, 50);cursor: pointer;font-size: 14px;font-family: Roboto;font-weight: 700;padding: 5px;border-radius: 50px;border:solid rgb(46, 47, 50) 1px;
padding-left: 15px;padding-right: 15px;
}
.slider_button:hover{border: solid black 2px;}

.relative_for_slider_row2{position: relative;padding-top:70px;background-color: white;
margin-top: 0px;width: 97.5%;margin-left: 20px;
}
.relative_for_slider_p{color:rgb(15, 17, 17);position: absolute;
top:20px;left:20px;font-family: Roboto;
font-size: 19px;font-weight: 700;}
.relative_for_slider_p5{color:rgb(15, 17, 17);position: absolute;
top:20px;left:20px;font-family: Roboto;
font-size: 22px;font-weight: 700;}
.relative_for_slider_p2{color:rgb(116, 118, 124);position: absolute;
top:60px;left:20px;font-family: Roboto;
font-size: 14px;}
.relative_for_slider_p3{color:rgb(15, 17, 17);position: absolute;
top:20px;right:20px;font-family: Roboto;
font-size: 13px;text-decoration: underline;}

.relative_for_sliderp2{font-family: Roboto;font-size: 13px;text-align: center;}

.slider_new1_p1{color: rgb(42, 135, 3); font-size: 18px;font-family: Roboto;font-weight: 700;}
.slider_new1_span1{margin-left: 5px;color: rgb(116, 118, 124); font-size: 12px;font-family: Roboto;}
.slider_new1_p2{color:black; font-size: 12px;font-family: Roboto;width:180px;}
.slider_new1_p3{color:rgb(70, 71, 74); font-size: 15px;font-family: Roboto;width:200px;
height:70px;width:180px;}
.slider_new1_img{width:180px ;height: 180px;margin-top: 0px;}

.slider_new1_flex{position: relative;cursor: pointer;}
.heart_icon1{background-color: white;padding: 5px;border-radius: 25px;position: absolute;
top:5px;right: 20px;
}

.slider_new1_dis2{font-size: 13px;color: black;font-family: Roboto;margin-top: -15px;}


.school_div_container{display: grid;grid-template-columns:1fr 1fr 1fr;margin-top: 70px;column-gap: 25px;}
.school1{position: relative;}
.school1_img{border-radius: 8px;width:519.578px;height:519.578px;color: white;}
.school1_p{font-family: Roboto;font-size: 19px;font-weight: 700;color: white;
position: absolute;left: 20px;top:5px;}
.school1_p2{font-family: Roboto;font-size: 48px;font-weight: 700;color: white;
position: absolute;left: 20px;top:0px;width:200px ;
}
.school1_p3{font-family: Roboto;font-size: 16px;font-weight: 700;
position: absolute;left: 20px;bottom:245px;background-color: white;
padding: 10px;border-radius: 20px;border: solid black 0.25px ;cursor: pointer;
width:75px;padding-left: 16px;
}
.school1_p3:hover{border: solid black 2px;}
.school2_div1{position: relative;cursor: pointer;}
.school2_div1_img{border-radius: 8px;height: 226.969px;width:409.656px;}
.school2_div1_p1{font-family: Roboto;color: rgb(0, 30, 96);font-size: 21px;font-weight: 700;
position: absolute;left: 20px;top:0px;
}

.school2_div1_p2{font-family: Roboto;color: rgb(0, 30, 96);font-size: 13px;text-decoration: underline;
position: absolute;left: 20px;top:50px;}
.school2_div2{display: grid;grid-template-columns: 50% 50%;column-gap: 20px;margin-top: 20px;}

.school2_div2_1{position: relative;}
.school2_div2_1_img1{border-radius: 8px;width: 189.828px;height: 262.969px;}
.school2_div2_1_p1{color: rgb(0, 30, 96);font-size: 22px;font-family: Roboto;
position: absolute;top:-10px;left: 15px;font-weight: 700;
}
.school2_div2_1_p2{color: rgb(0, 30, 96);font-size: 14px;font-family: Roboto;
position: absolute;top:70px;left: 6px;text-decoration: underline;
}



.school2_div2_1_p1_cpy{color: white;font-size: 22px;font-family: Roboto;
position: absolute;top:-10px;left: 15px;font-weight: 700;
}
.school2_div2_1_p2_cpy{color: white;font-size: 14px;font-family: Roboto;
position: absolute;top:70px;left: 10px;text-decoration: underline;
}
.school3_div1{position: relative;}
.school3_div1_img{border-radius: 8px;width:299.75px;height:516.516px;}
.school3_div1_p1{font-family: Roboto;font-size:21px;font-weight:700 ;color: white;
position: absolute;top:0px;left:20px;width: 165px;};



