.navbar_container{display: flex;background-color: rgb(0, 83, 226);height:85px;
border-top-left-radius: 8px;align-items: center;justify-content: space-between;

}
.navbar_left{margin-left: 20px;display: flex;align-items: center;}
.navbar_left_img{width: 40px;border-radius: 50px;padding: 8px;}
.navbar_left_img:hover{background-color: rgb(5, 37, 94) ;}
.navbar_left_2:hover{background-color: rgb(5, 37, 94) ;}
.navbar_left_2{display: grid;grid-template-columns: 30% 70% 10%;
background-color:  rgb(2, 57, 151);
width: 350px;
border-radius: 50px;
margin-left: 10px;
height: 56px;
cursor: pointer;
}
.navbar_left_2p1{font-family: Roboto;color: white;
font-size: 16px;font-weight: 700;}
.navbar_left_2p2{font-family: Roboto;color: white;
font-size: 14px;font-weight: 400;margin-top: -15px;}
.navbar_left_2img{width: 40px;margin-left: 10px;margin-top: 10px;}
.Pickup{margin-left: -40px;margin-top: -5px;}
.arrow_icon{margin-left: -35px;margin-top: 18px;}

.navbar_middle{flex-grow: 1;margin-left: 15px;display: flex;position: relative;
margin-right: 20px;
}
.navbar_middle_input{flex-grow: 1;height:50px ;border-radius:50px;
padding-left:20px;color:rgb(0, 83, 226);font-family: Roboto;
font-size: 15px;font-weight: 400;border: none;
}
.navbar_middle_input::placeholder{color:rgb(2, 70, 187);}
.search_icon{background-color: rgb(6, 46, 116) ;border-radius: 30px;
padding: 7px;position: absolute;right: 11px;top:11px ;cursor: pointer;}
.search_icon:hover{background-color: rgb(5, 30, 73)}

.navbar_right{width:320px;display: flex;align-items: center;}
.navbar_right_div1{display: grid;
  grid-template-columns: 20% 80%;
  width:100px;margin-left: 10px;
  height: 60px;
  border-radius: 50px;
  padding-left: 12px;
  padding-right: 0px;
  cursor: pointer;
  }
 
 .navbar_right_div1:hover{background-color: rgb(5, 30, 73)} 

.navbar_right_1p1{font-family: Roboto;font-size: 14px;color: white;
 margin-bottom: 0px; 
}
.navbar_right_2p2{font-family: Roboto;font-size: 15px;color: white;
;font-weight: 700;margin-top: 0px;}
.heart_icon{margin-top: 26px;margin-right:5px;width:14px;font-weight:bolder ;}
.person_icon{margin-top: 26px;margin-right:10px;width:20px;font-weight:bolder ;}

.navbar_right_div2{position: relative;height: 50px;border-radius: 50px;}
.cart_quantity{position: absolute;top:-15px;right: 12px;background-color:rgb(255, 194, 32);
font-family: Roboto;font-size: 11px;font-weight: 700;padding: 2px;border-radius: 50px;
padding-right: 3px;

}
.cart_icon{width:50px;height: 25px;}
.cart_total{margin-top: 2px;margin-left: 8px;color: white;font-family: Roboto;
font-size: 13px;
}
.navbar_right_div2:hover{background-color: rgb(5, 37, 94) ;}



.header_container{display: flex;height: 48px;background-color: rgb(201, 220, 253);
align-items: center;padding-left: 24px;padding-right: 24px;}
.header_div1{display: flex;background-color: white;width: 100px;padding-left: 10px;
padding-right: 10px;border-radius: 50px;height: 30px;align-items: center;margin-right: 10px;cursor: pointer;}
.header_div1:hover{border: solid  rgb(0, 30, 96) 0.5px;}
.header_div2:hover{border: solid  rgb(0, 30, 96) 0.5px;}
.header_div4:hover{border: solid  rgb(0, 30, 96) 0.5px;}


.header_div2{display: flex;background-color: white;width: 75px;padding-left: 10px;cursor: pointer;
padding-right: 10px;border-radius: 50px;height: 30px;align-items: center;}
.header_div1_p{color: rgb(0, 30, 96);font-size: 13px;font-family: Roboto;
font-weight: 700;}
.arrow_icon2{margin-left: 5px;}

.header_div3{display: flex;background-color: white;padding-left: 10px;
padding-right: 10px;border-radius: 50px;height: 30px;align-items: center; margin-left:10px ;cursor: pointer;}
.header_div3_p{color: rgb(0, 30, 96);font-size: 13px;font-family: Roboto;}

.header_div4{display: flex;background-color: white;padding-left: 10px;cursor: pointer;
padding-right: 10px;border-radius: 50px;height: 30px;align-items: center;margin-left: 80px;width: 55px;}
.header_div4_p{color: rgb(0, 30, 96);font-size: 14.5px;font-family: Roboto;
font-weight: 700;}




